* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: blue;
    text-shadow: 0 0 10px #9595ff;
}

.login {
    background-color: rgb(230, 230, 230);
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.login.texto {
    color: rgb(83, 83, 255);
    margin: 0;
}

.login.texto p {
    color: black;
}

.login.inputs {
    padding: 0;
    padding: 0;
}

.login.inputs input {
    margin: 7px 0;
    border-radius: 5px;
    border: none;
    width: 300px;   
    height: 40px;
    padding: 5px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.103);
    transition: 0.3s ease-in-out;
}

.login.inputs input:hover {
    background-color: rgba(247, 247, 247, 0.589);
}

.login.inputs input:focus {
    outline: none;
}

.login.button button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 35px;
    width: 100px;

    background-color: rgb(68, 68, 255);
    font-weight: 600;
    color: rgb(201, 198, 255);
    transition: 0.3s ease-in-out;
}

.login.button button:hover {
    background-color: rgb(96, 96, 255);
}
